Big Mart Data Cleaning

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("Bigmart Sales Data.csv")
df.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [5]:
df.shape

(8523, 12)

In [6]:
df['Item_Weight'].dtype

dtype('float64')

In [7]:
df.isnull().any()

Item_Identifier              False
Item_Weight                   True
Item_Fat_Content             False
Item_Visibility              False
Item_Type                    False
Item_MRP                     False
Outlet_Identifier            False
Outlet_Establishment_Year    False
Outlet_Size                   True
Outlet_Location_Type         False
Outlet_Type                  False
Item_Outlet_Sales            False
dtype: bool

In [8]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [9]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [10]:
df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [11]:
df.groupby('Item_Type')['Item_Weight'].agg(['min', 'max' , 'size', 'count'])

                         min    max  size  count
Item_Type
Baking Goods           4.880  20.85   648    536
Breads                 4.635  20.85   251    204
Breakfast              6.425  21.10   110     89
Canned                 4.615  21.35   649    539
Dairy                  4.805  20.70   682    566
Frozen Foods           4.555  20.85   856    718
Fruits and Vegetables  5.460  21.35  1232   1019
Hard Drinks            4.610  19.70   214    183
Health and Hygiene     5.175  21.25   520    430
Household              5.030  21.25   910    759
Meat                   5.150  21.25   425    337
Others                 5.500  20.50   169    137
Seafood                5.365  20.75    64     51
Snack Foods            5.095  21.25  1200    988
Soft Drinks            4.590  20.75   445    374
Starchy Foods          6.695  21.20   148    130

In [12]:
df['Item_Weight']  = df.groupby('Item_Type')['Item_Weight'].transform(lambda x: x.fillna(x.mean()))
df.groupby('Item_Type')['Item_Weight'].agg(['min', 'max' , 'size', 'count'] )

                         min    max  size  count
Item_Type
Baking Goods           4.880  20.85   648    648
Breads                 4.635  20.85   251    251
Breakfast              6.425  21.10   110    110
Canned                 4.615  21.35   649    649
Dairy                  4.805  20.70   682    682
Frozen Foods           4.555  20.85   856    856
Fruits and Vegetables  5.460  21.35  1232   1232
Hard Drinks            4.610  19.70   214    214
Health and Hygiene     5.175  21.25   520    520
Household              5.030  21.25   910    910
Meat                   5.150  21.25   425    425
Others                 5.500  20.50   169    169
Seafood                5.365  20.75    64     64
Snack Foods            5.095  21.25  1200   1200
Soft Drinks            4.590  20.75   445    445
Starchy Foods          6.695  21.20   148    148

In [13]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [14]:
df['Outlet_Size'].value_counts(dropna=False)

Outlet_Size
Medium    2793
NaN       2410
Small     2388
High       932
Name: count, dtype: int64

In [15]:
#Fillins Outlet Type

df['Outlet_Size'] = df.groupby('Outlet_Location_Type')['Outlet_Size'].transform(lambda x: x.fillna(x.mode()[0]))
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [16]:
df.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30000,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92000,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50000,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20000,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93000,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.39500,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.65000,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,12.98788,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.20000,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,Small,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.20000,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,Small,Tier 2,Supermarket Type1,4710.5350

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [18]:
df['Outlet_Establishment_Year'] = pd.to_datetime(df['Outlet_Establishment_Year'], format='mixed')


df['Outlet_Establishment_Year'] = df['Outlet_Establishment_Year'].dt.year
df['Outlet_Establishment_Year']

0       1970
1       1970
2       1970
3       1970
4       1970
        ...
8518    1970
8519    1970
8520    1970
8521    1970
8522    1970
Name: Outlet_Establishment_Year, Length: 8523, dtype: int32

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int32
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int32(1), object(7)
memory usage: 765.9+ KB

In [20]:
df.groupby('Item_Type')['Item_Weight'].agg(['min', 'max' , 'size', 'count'])

                         min    max  size  count
Item_Type
Baking Goods           4.880  20.85   648    648
Breads                 4.635  20.85   251    251
Breakfast              6.425  21.10   110    110
Canned                 4.615  21.35   649    649
Dairy                  4.805  20.70   682    682
Frozen Foods           4.555  20.85   856    856
Fruits and Vegetables  5.460  21.35  1232   1232
Hard Drinks            4.610  19.70   214    214
Health and Hygiene     5.175  21.25   520    520
Household              5.030  21.25   910    910
Meat                   5.150  21.25   425    425
Others                 5.500  20.50   169    169
Seafood                5.365  20.75    64     64
Snack Foods            5.095  21.25  1200   1200
Soft Drinks            4.590  20.75   445    445
Starchy Foods          6.695  21.20   148    148

In [21]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].str.strip()
df['Item_Identifier'] = df['Item_Identifier'].str.strip()

df['Item_Type'] = df['Item_Type'].str.strip()
df['Outlet_Identifier'] = df['Outlet_Identifier'].str.strip()
df['Outlet_Size'] = df['Outlet_Size'].str.strip()