In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('t.csv')
df.head(5)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,17-01-2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,24-02-2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,15-05-2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,03-01-2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,01-02-2016,0,2

Clean Unwanted Data

In [4]:
df.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Gender                          0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             386
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [5]:
'''  
These , . / and other special charater in the data -> referred as Regular Expression

# str -> Its methods 
  There are so many functions inside str method , some are : 

replace(find,replace,regex=True/False)


'''

'  \nThese , . / and other special charater in the data -> referred as Regular Expression\n\n# str -> Its methods \n  There are so many functions inside str method , some are : \n\nreplace(find,replace,regex=True/False)\n\n\n'

In [6]:
'''   
replace(find,replace,regex=True/False)

regex :
   True -> IF its true, comma hatxa hatna chahi tara background chahib basirahanxa , paxi ml ma effect dekauxa
   False -> If its false, comma completely hataidinxa background and onground bata ni
'''

df['Employee_Name'] = df['Employee_Name'].str.replace(',' , '' , regex=False)
df.head(10)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,17-01-2019,0,1
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,24-02-2016,0,17
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,15-05-2012,0,3
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,03-01-2019,0,15
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,01-02-2016,0,2
5,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,07-01-2019,0,15
6,Andreola Colby,10194,0,0,0,1,4,3,0,95660,...,Alex Sweetwater,10.0,LinkedIn,Fully Meets,3.04,3,4,02-01-2019,0,19
7,Athwal Sam,10062,0,4,1,1,5,3,0,59365,...,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,25-02-2019,0,19
8,Bachiochi Linda,10114,0,0,0,3,5,3,1,47837,...,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,25-01-2019,0,4
9,Bacong Alejandro,10250,0,2,1,1,3,3,0,50178,...,Peter Monroe,7.0,Indeed,Fully Meets,5.00,5,6,18-02-2019,0,16

In [7]:
'''
remove white space  using strip()
In this Department col -> Production has space
'''

df['Department'] = df['Department'].str.strip()

fil_depart = df['Department'] == 'Production'
df[fil_depart]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,17-01-2019,0,1
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,15-05-2012,0,3
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,03-01-2019,0,15
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,01-02-2016,0,2
5,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,07-01-2019,0,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,03-01-2019,0,15
577,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,01-02-2016,0,2
578,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,Amy Dunn,11.0,LinkedIn,Exceeds,5.00,5,0,07-01-2019,0,15
580,Athwal Sam,10062,0,4,1,1,5,3,0,59365,...,Ketsia Liebig,19.0,Employee Referral,Fully Meets,5.00,4,0,25-02-2019,0,19
581,Bachiochi Linda,10114,0,0,0,3,5,3,1,47837,...,Brannon Miller,12.0,Diversity Job Fair,Fully Meets,4.46,3,0,25-01-2019,0,4

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               582 non-null    object
 1   EmpID                       582 non-null    int64
 2   MarriedID                   582 non-null    int64
 3   MaritalStatusID             582 non-null    int64
 4   GenderID                    582 non-null    int64
 5   EmpStatusID                 582 non-null    int64
 6   DeptID                      582 non-null    int64
 7   PerfScoreID                 582 non-null    int64
 8   FromDiversityJobFairID      582 non-null    int64
 9   Salary                      582 non-null    int64
 10  Termd                       582 non-null    int64
 11  PositionID                  582 non-null    int64
 12  Position                    582 non-null    object
 13  State                       582 non-null    object
 14  Zip                         582 non-null    int64
 15  DOB                         582 non-null    object
 16  Gender                      582 non-null    object
 17  MaritalDesc                 582 non-null    object
 18  CitizenDesc                 582 non-null    object
 19  HispanicLatino              582 non-null    object
 20  RaceDesc                    582 non-null    object
 21  DateofHire                  582 non-null    object
 22  DateofTermination           196 non-null    object
 23  TermReason                  582 non-null    object
 24  EmploymentStatus            582 non-null    object
 25  Department                  582 non-null    object
 26  ManagerName                 582 non-null    object
 27  ManagerID                   574 non-null    float64
 28  RecruitmentSource           582 non-null    object
 29  PerformanceScore            582 non-null    object
 30  EngagementSurvey            582 non-null    float64
 31  EmpSatisfaction             582 non-null    int64
 32  SpecialProjectsCount        582 non-null    int64
 33  LastPerformanceReview_Date  582 non-null    object
 34  DaysLateLast30              582 non-null    int64
 35  Absences                    582 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 163.8+ KB

In [9]:
#Chaning the dataype of date from object(string) to datatime
'''
pd.to_datetime(column, format = '%d.%m.%y' / 'mixed' )
its also datatype conversion
we used astype to convert datatype but astype can only convert python builtin dtaaype ,
     but we dont have datetime in python so we need to use such
'''

df['DateofHire'] = pd.to_datetime(df['DateofHire'], format='mixed')
df['DateofHire']

0     2011-05-07
1     2015-03-30
2     2011-05-07
3     2008-07-01
4     2011-11-07
         ...
577   2011-11-07
578   2012-09-01
579   2014-10-11
580   2013-09-30
581   2009-06-07
Name: DateofHire, Length: 582, dtype: datetime64[ns]

Data Transformation / Feature Engineering

In [10]:
# Splitting columns
''' 
Splitting Full Name into first name , middle name and last name
split -> (find , n=index , expand=True) by default expand is false 

n gives in how many index data is split
expand tells to divide that 
 
'''

df[['First_Name' , 'Middle_Name', 'Last_Name']] = df['Employee_Name'].str.split(" ",n=2,expand=True)
df.head(10)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,First_Name,Middle_Name,Last_Name
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,Exceeds,4.60,5,0,17-01-2019,0,1,Adinolfi,Wilson,K
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,Fully Meets,4.96,3,6,24-02-2016,0,17,Ait,Sidi,Karthikeyan
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,Fully Meets,3.02,3,0,15-05-2012,0,3,Akinkuolie,Sarah,None
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,Fully Meets,4.84,5,0,03-01-2019,0,15,AlagbeTrina,None,None
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,Fully Meets,5.00,4,0,01-02-2016,0,2,Anderson,Carol,
5,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,Exceeds,5.00,5,0,07-01-2019,0,15,Anderson,Linda,
6,Andreola Colby,10194,0,0,0,1,4,3,0,95660,...,Fully Meets,3.04,3,4,02-01-2019,0,19,Andreola,Colby,None
7,Athwal Sam,10062,0,4,1,1,5,3,0,59365,...,Fully Meets,5.00,4,0,25-02-2019,0,19,Athwal,Sam,None
8,Bachiochi Linda,10114,0,0,0,3,5,3,1,47837,...,Fully Meets,4.46,3,0,25-01-2019,0,4,Bachiochi,Linda,None
9,Bacong Alejandro,10250,0,2,1,1,3,3,0,50178,...,Fully Meets,5.00,5,6,18-02-2019,0,16,Bacong,Alejandro,

In [11]:
#Extract year , month , day from DateofHire
df['DateofHire']

0     2011-05-07
1     2015-03-30
2     2011-05-07
3     2008-07-01
4     2011-11-07
         ...
577   2011-11-07
578   2012-09-01
579   2014-10-11
580   2013-09-30
581   2009-06-07
Name: DateofHire, Length: 582, dtype: datetime64[ns]

In [12]:
#Extract year, month, day from date

df['year'] = df['DateofHire'].dt.year
df['month'] = df['DateofHire'].dt.month
df['day'] = df['DateofHire'].dt.day
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,First_Name,Middle_Name,Last_Name,year,month,day
0,Adinolfi Wilson K,10026,0,0,1,1,5,4,0,62506,...,0,17-01-2019,0,1,Adinolfi,Wilson,K,2011,5,7
1,Ait Sidi Karthikeyan,10084,1,1,1,5,3,3,0,104437,...,6,24-02-2016,0,17,Ait,Sidi,Karthikeyan,2015,3,30
2,Akinkuolie Sarah,10196,1,1,0,5,5,3,0,64955,...,0,15-05-2012,0,3,Akinkuolie,Sarah,None,2011,5,7
3,AlagbeTrina,10088,1,1,0,1,5,3,0,64991,...,0,03-01-2019,0,15,AlagbeTrina,None,None,2008,7,1
4,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,0,01-02-2016,0,2,Anderson,Carol,,2011,11,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,Anderson Carol,10069,0,2,0,5,5,3,0,50825,...,0,01-02-2016,0,2,Anderson,Carol,,2011,11,7
578,Anderson Linda,10002,0,0,0,1,5,4,0,57568,...,0,07-01-2019,0,15,Anderson,Linda,,2012,9,1
579,Andreola Colby,10194,0,0,0,1,4,3,0,95660,...,4,02-01-2019,0,19,Andreola,Colby,None,2014,10,11
580,Athwal Sam,10062,0,4,1,1,5,3,0,59365,...,0,25-02-2019,0,19,Athwal,Sam,None,2013,9,30
581,Bachiochi Linda,10114,0,0,0,3,5,3,1,47837,...,0,25-01-2019,0,4,Bachiochi,Linda,None,2009,6,7

In [13]:
# Creating a new column which shows gender in number

Map

In [14]:
df['HispanicLatino'].unique()

'''  As we can see there are 'Yes' and 'yes' , similary for no as well
we can convert whole column in upper case , lower case or proper

but its not good approach 

we should do with mapping
'''

"  As we can see there are 'Yes' and 'yes' , similary for no as well\nwe can convert whole column in upper case , lower case or proper\n\nbut its not good approach \n\nwe should do with mapping\n"

In [15]:
his_lat = {
    'no' : 'No',
    'yes' : 'Yes',
    'No' : 'No',
    'Yes' : 'Yes'
}

df['HispanicLatino'] = df['HispanicLatino'].map(his_lat)
df['HispanicLatino'].head(20)

0      No
1      No
2      No
3      No
4      No
5      No
6      No
7      No
8      No
9      No
10    Yes
11    Yes
12     No
13     No
14     No
15     No
16     No
17     No
18    Yes
19     No
Name: HispanicLatino, dtype: object

In [16]:
'''
Convert Yes -> 1 and No -> 0 to record to a new column
'''
his_m = {
    'Yes' : 1,
    'No' : 0
}

df['Hispa_Num'] = df['HispanicLatino'].map(his_m)
df['Hispa_Num'].head(20)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    1
12    0
13    0
14    0
15    0
16    0
17    0
18    1
19    0
Name: Hispa_Num, dtype: int64